body
{
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: 'Open Sans', sans-serif;
    margin:0;
}

.top-header
{
    text-align: center;
}
.logo
{
    font-size: 50px;;
    padding: 0;
    margin: 10px;
}
/*using bootsrap classes*/
.navbar
{
    font-size: 20px;
}
.navbar li
{
    margin: 0 10px;
}
.navbar-toggler {
    margin-left: 10px;
}

article
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
h1
{
    font-size: 35px;
    margin: 0;
    padding: 0;
    color:#2f81f7;
}
p
{
    font-size: 16px;
    margin: 10px;
    padding: 0;
}
.tutorial-container
{
    height: 300px;
    margin-bottom: 25px;
}
article img
{
    overflow: hidden;
    object-fit:fill;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #000000;
    border-radius: 6px;

}
.card-img-top
{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.tutorial-overlay
{
    position: relative;
    width: 100%;
    height: 100%;

}
.tutorial-text
{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin: 0;
    background-color: #101010;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.tutorial-overlay:hover .tutorial-text
{
    opacity: 0.8;
}
.tutorial-container:hover
{
    cursor: pointer;
}
h2
{
    font-size: 25px;
    margin-top:20px;
    padding: 0;
    color: #2f81f7;
}
footer
{
    background-color: #24292f;
    text-align: center;
    color: #c9d1d9;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    
}
footer p
{
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
a
{
    text-decoration: none;
    color: #7ab7ff;
}
a:hover
{
    color: #2964aa
}

/* Styl dla całego paska przewijania */
::-webkit-scrollbar {
    width: 10px;
}

/* Styl dla tła paska przewijania */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Styl dla ruchomego elementu paska przewijania */
::-webkit-scrollbar-thumb {
    background: #24292f;
    border-radius: 10px;
}
article>ul
{
    text-align: left;
    list-style-position: inside;
    list-style-type: none;
    margin-left: 00px;
}
article>ul>li>p
{
    font-size: 20px;
    margin-top: 20px;
}
article>ul>li>ol>li
{
    margin-top:10px;
}
.gal-img {
    flex: 0 0 33.33%; /* Domyślnie trzy elementy w linii */
    box-sizing: border-box;
    padding: 10px;
}

@media (max-width: 800px) {
    .gal-img {
        flex: 0 0 50%; /* Dwa elementy w linii na średnich ekranach */
    }
}

@media (max-width: 500px) {
    .gal-img {
        flex: 0 0 100%; /* Jeden element w linii na małych ekranach */
    }
}
.gallery
{
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#galery{
    max-width: 1500px!important;
}
.article header
{
    text-align: left;
    margin-bottom: 20px;
}
.article p
{
    text-align: justify;
}
.article h2
{
    text-align: left;
}
.important-text
{
    color: #f0ad4e;
}
.article-img {
    max-width: 100%;
    width: auto;
    margin: 20px;
    display: block;
}
.link-inactive
{
    pointer-events: none;
    cursor: default;
    color: #6c757d;
}
form
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
form>button
{
    width: 200px;
    margin: 10px;
}
form>textarea
{
    width: 200px;
    margin: 10px;
}
#messages
{
  display:flex;
  flex-direction: column;
}
.user
{
  align-self: end;
  background-color: #535bf2;
  padding: 10px;
  border-radius: 10px;
  margin:  10px 0;
  max-width: 50%;

}
.assistant
{
  align-self: start;
  background-color: #363636;
  padding: 10px;
  border-radius: 10px;
  margin:  10px 0;
  max-width: 50%;
}


button
 {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.3s;
    background-color: #1f1f1f;
    color: #d3bdf3;

  }
  button:hover {
    border-color: #525af6;
  }
  button:focus,
  button:focus-visible 
  {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .brain-emoji {
    display: inline-block;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}